/**Кнопки Стайлгайд**/

.button-clear,
.description-hotels-button,
.description-hotels-button-other,
.btn-social,
.public-button {
	display: inline-block;
	vertical-align: top;
	padding: 5px 17px;
	border: none;
	outline: none; 
	font-size: 14px;
	line-height: 21px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background: #81b3d2;
	cursor: pointer;
}
.button-clear:hover {
	background: #669ec0;
}
.button-clear:active {
	color: rgba(255,255,255,.3);
	background: #5496bd;
}
.description-hotels-button:hover {
	background: #669ec0;
}
.description-hotels-button:active {
	color: rgba(255,255,255,.3);
	background: #5496bd;
}
.description-hotels-button-other:hover {
	background: #669ec0;
}
.description-hotels-button-other:active {
	color: rgba(255,255,255,.3);
	background: #5496bd;
}
.public-button:hover {
	background: #669ec0;
}
.public-button:active {
	color: rgba(255,255,255,.3);
	background: #5496bd;
}
.description-hotels-button-other {
	background: #766357;
}
.description-hotels-button-other:hover {
	background: #604e43;
}
.description-hotels-button-other:active {
	background: #503e33;
}
.button-clear {
	margin: 12px 0;
	padding: 5px 34px;
	border: 2px solid #fff;
	border-radius: 3px;
	font-weight: normal;
	background: transparent;
}
.button-clear:hover {
	background: rgba(255,255,255,.25);
}
.button-clear:active {
	opacity: .5;
}

/**Поля ввода по стайлгайду**/

.form-input-date,
.form-input-counter {
	box-sizing: border-box;
	padding: 8px;
	border: 2px solid #f2f2f2;
	outline: none;
	font-size: 14px;
	line-height: 18px;
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	background: #f2f2f2;
}
.form-input-date:hover {
	border-color: #ebebeb;
	background: #ebebeb;
}
.form-input-date:focus {
	border-color: #e5e5e5;
	background: #fff;
}
.form-input-counter:hover {
	border-color: #ebebeb;
	background: #ebebeb;
}
.form-input-counter:focus {
	border-color: #e5e5e5;
	background: #fff;
}

/**Checkbox по стайлгайду**/

.form-checkbox {
	display: none;
}
.form-checkbox,
.form-label {
	position: relative;
	padding-left: 42px;
	font-size: 14px;
	line-height: 21px;
	cursor: pointer;
}
.form-checkbox + .form-label::before {
	content: '\2610';
	position: absolute;
	left: 0;
	top: 0;
	font-size: 26px;
	font-family: 'PT Sans';
	color: #b5b5b5;
}
.form-checkbox:checked + .form-label::before {
	content: '\2611';
}
.form-checkbox + .form-label:hover::before {
	color: #fff;
}
.form-checkbox:disabled + .form-label,
.form-checkbox:disabled + .form-label::before,
.form-checkbox:disabled + .form-label:hover::before {
	color: #6a6a6a;
	cursor: default;
}

/**Главные блоки сайта**/

body {
    font-size: 14px;
    line-height: 21px;
    font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase; 
    color: #333;
    background: #f2f2f2; 
}
.main-header, 
.main-content, 
.main-footer,
.hotels-content {
	max-width: 1200px;
    min-width: 768px;
    margin: 0 auto; 
    background: #fff; 
}

/**Шапка**/

.main-header {
	position: relative;
	background: #fff;
}
.main-navigation .logo {
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 138px;
    height: 70px;
    margin-left: -69px;
    font-size: 0;
    line-height: 0;
    color: transparent;
    background: transparent no-repeat 0 0;
}
.site-navigation {
	margin: 0;
    padding: 0;
    list-style: none; 
    font-size: 0; 
}
.site-navigation li {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
.site-navigation a {
	display: block;
	padding: 15px 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.info:hover {
	color: #81b3d2;
	cursor: pointer;
}

.info:active {
	color: #000;
	opacity: .3;
	cursor: pointer;
}
.site-navigation li:nth-child(2) {
	margin-right: 20%;
}

/**Сетка**/

.row {
	font-size: 0;
}
.main-footer-column-visit,
.main-footer-column-socials,
.main-footer-column-copyright {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 33.33%;
	font-size: 14px;
}

/**Главное содержимое index**/

.promo {
	background: url(../img/index.jpg) no-repeat 50% 30%; 
}
.main-poster::after {
	background: url(../img/mask.svg) no-repeat 0 50%;
}
.promo {
	font-size: 0;
    line-height: 0; 
    color: transparent; 
    background: transparent url(../img/promo-poster-text.png) no-repeat; 
}
.features-title, .features-text {
	line-height: 26px;
    text-align: center;
}
.features-title {
	font-size: 21px; 
    color: #000; 
}
.item-object-title {
	font-size: 21px; 
    line-height: 26px; 
    font-weight: 700; 
}
.services-list {
	list-style: none;
}
.services-item {
	text-align: center; 
}
.services-item-title {
	font-size: 21px; 
    line-height: 26px; 
    font-weight: 700;
}
.order {
	text-align: center;
}
.order h2 {
	font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}
.order p {
	line-height: 24px;
}
.public .public-button {
	font-size: 21px; 
    line-height: 26px;
}
.form-rows {
	font-size: 0; 
    font-weight: 700; 
    text-align: left;
}
.form .form-label {
	font-size: 14px;
    line-height: 41px; 
}
.icon-calendar {
    color: #a9a9a9;
}
.icon-calendar::before {
    font-size: 21px;
    line-height: 38px; 
    text-align: center; 
}
.form-input-date:hover, .icon-calendar {
    color: #000; 
}
.form-input-date:focus, .icon-calendar {
    color: #81b3d2;
}
.counter {
    font-size: 0; 
}
.form-input-counter {
    text-align: center;
}
.counter button {
    color: #a9a9a9;
}
.counter button::before {
    font-size: 14px; 
    line-height: 38px; 
    text-align: center; 
}
.form .button-solid {
    padding: 16px; 
    font-size: 21px; 
    line-height: 26px; 
}

/**Главное содержимое hotels**/

.hotels-content {
	color: #fff;
    background: #46525c url(../img/hotels.jpg) no-repeat 0 50%; 
}
.hotels-content h2 {
	margin: 12px 0;
    font-size: 16px; 
    line-height: 21px; 
    text-align: left;
}
.filters-rows {
	font-size: 0;
}

/**Подвал**/
.map {
	position: relative;
	background: no-repeat 50% 100%;
}
.main-footer .main-footer-column {
    padding: 30px 0;
    text-align: center;
    background: rgba(254,254,254,.9);
  }
.main-footer-column-visit {
	padding: 17px 0;
}
.main-footer-column-visit a {
	font-size: 21px;
    line-height: 26px;
    font-weight: 700; 
	text-decoration: none; 
    color: #000; 
}
.main-footer-column-socials ul {
	margin: 0;
    padding: 0; 
    list-style: none;
    font-size: 0;
}
.main-footer-column-socials li {
	display: inline-block;
	vertical-align: top;
	margin: 6px 3px;
}
.btn-social {
	display: block;
	width: 46px;
	height: 48px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	background: url(../img/footer-icon.png) no-repeat;
}
.social-twitter:hover {
	background-position: 0 -49px;
}
.social-twitter:active {
	background-position: 0 -98px;
}
.social-facebook {
	background: url(../img/footer-icon.png) -47px 0 no-repeat;
}
.social-facebook:hover {
	background-position: -47px -49px;
}
.social-facebook:active {
	background-position: -47px -98px;
}
.social-youtube {
	background: url(../img/footer-icon.png) -95px 0 no-repeat;
}
.social-youtube:hover {
	background-position: -95px -49px;
}
.social-youtube:active {
	background-position: -95px -98px;
}
.main-footer-column-copyright {
	padding: 6px 0;
}
.main-footer-column-copyright span,
.main-footer-column-copyright .logo-htmlacademy {
	display: inline-block;
	vertical-align: middle;
}
.main-footer-column-copyright span {
	margin-left: 10px;
	font-size: 14px;
}
.logo-htmlacademy {
	width: 113px;
	height: 39px;
	text-decoration: none;
	margin: 4px 8px;
	background: transparent url('../img/logo-htmlacademy.png') no-repeat;
	background-position: 50% -198px;
}
.logo-htmlacademy:hover {
	background-position: 50% -99px;
}
.logo-htmlacademy:active {
	background-position: 50% 0;
}
