/**Кнопки Стайлгайд**/

.button-clear,
.description-hotels-button,
.description-hotels-button-other,
.btn-social,
.public-button,
.button-solid{
	display: inline-block;
	vertical-align: top;
	padding: 5px 17px;
	border: none;
	outline: none; 
	font-size: 14px;
	line-height: 21px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background: #81b3d2;
	cursor: pointer;
}
.button-solid:hover {
	background: #669ec0;
}
.button-solid:active {
	color: rgba(255,255,255,.3);
	background: #5496bd;
}
.button-clear:hover {
	background: #669ec0;
}
.button-clear:active {
	color: rgba(255,255,255,.3);
	background: #5496bd;
}
.description-hotels-button:hover {
	background: #669ec0;
}
.description-hotels-button:active {
	color: rgba(255,255,255,.3);
	background: #5496bd;
}
.description-hotels-button-other:hover {
	background: #669ec0;
}
.description-hotels-button-other:active {
	color: rgba(255,255,255,.3);
	background: #5496bd;
}
.public-button {
  background: #766357;
}
.public-button:hover {
	background: #604e43;
}
.public-button:active {
	background: #503e33;
}
.description-hotels-button-other {
	background: #766357;
}
.description-hotels-button-other:hover {
	background: #604e43;
}
.description-hotels-button-other:active {
	background: #503e33;
}
.button-clear {
	margin: 12px 0;
	padding: 5px 34px;
	border: 2px solid #fff;
	border-radius: 3px;
	font-weight: normal;
	background: transparent;
}
.button-clear:hover {
	background: rgba(255,255,255,.25);
}
.button-clear:active {
	opacity: .5;
}

/**Поля ввода по стайлгайду**/

.form-input-date,
.form-input-counter {
	box-sizing: border-box;
	padding: 8px;
	border: 2px solid #f2f2f2;
	outline: none;
	font-size: 14px;
	line-height: 18px;
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	background: #f2f2f2;
}
.form-input-date:hover {
	border-color: #ebebeb;
	background: #ebebeb;
}
.form-input-date:focus {
	border-color: #e5e5e5;
	background: #fff;
}
.form-input-counter:hover {
	border-color: #ebebeb;
	background: #ebebeb;
}
.form-input-counter:focus {
	border-color: #e5e5e5;
	background: #fff;
}

/**Checkbox по стайлгайду**/

.form-checkbox {
	display: none;
}
.form-checkbox,
.form-label {
	position: relative;
	padding-left: 42px;
	font-size: 14px;
	line-height: 21px;
	cursor: pointer;
}
.form-checkbox + .form-label::before {
	content: '\2610';
	position: absolute;
	left: 0;
	top: 0;
	font-size: 26px;
	font-family: 'PT Sans';
	color: #b5b5b5;
}
.form-checkbox:checked + .form-label::before {
	content: '\2611';
}
.form-checkbox + .form-label:hover::before {
	color: #fff;
}
.form-checkbox:disabled + .form-label,
.form-checkbox:disabled + .form-label::before,
.form-checkbox:disabled + .form-label:hover::before {
	color: #6a6a6a;
	cursor: default;
}

/**Главные блоки сайта**/

body {
    font-size: 14px;
    line-height: 21px;
    font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase; 
    color: #333;
    background: #f2f2f2; 
}
.main-header, 
.main-content, 
.main-footer,
.hotels-content {
	max-width: 1200px;
    min-width: 768px;
    margin: 0 auto; 
    background: #fff; 
}

/**Шапка**/

.main-header {
	position: relative;
	background: #fff;
}
.main-navigation .logo {
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 138px;
    height: 70px;
    margin-left: -69px;
    font-size: 0;
    line-height: 0;
    color: transparent;
    background: transparent no-repeat 0 0;
}
.site-navigation {
	margin: 0;
    padding: 0;
    list-style: none; 
    font-size: 0; 
}
.site-navigation li {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
.site-navigation a {
	display: block;
	padding: 15px 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.info:hover {
	color: #81b3d2;
	cursor: pointer;
}
.info:active {
	color: #000;
	opacity: .3;
	cursor: pointer;
}
.site-navigation li:nth-child(2) {
	margin-right: 20%;
}

/**Сетка**/

.row {
	font-size: 0;
}
.main-footer-column-visit,
.main-footer-column-socials,
.main-footer-column-copyright,
.col {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 33.33%;
	font-size: 14px;
}
.col-two {
    width: 66.67%;
}

/**Главное содержимое index**/

.promo {
	background: url(../img/index.jpg) no-repeat 50% 30%; 
}
.main-poster::after {
	background: url(../img/mask.svg) no-repeat 0 50%;
}
.promo {
	font-size: 0;
    line-height: 0; 
    color: transparent; 
    background: transparent url(../img/promo-poster-text.png) no-repeat; 
}
.features-title, .features-text {
	line-height: 26px;
    text-align: center;
}
.features-title {
	font-size: 21px;  
}
.item-object-title {
	font-size: 21px; 
    line-height: 26px; 
    font-weight: 700; 
}
.services-list {
	list-style: none;
}
.services-item {
	text-align: center; 
}
.services-item-title {
	font-size: 21px; 
    line-height: 26px; 
    font-weight: 700;
}
.order {
	text-align: center;
}
.order h2 {
	font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}
.order p {
	line-height: 24px;
}
.public .public-button {
	font-size: 21px; 
    line-height: 26px;
}
.form-rows {
	font-size: 0; 
    font-weight: 700; 
    text-align: left;
}
.form .form-label {
	font-size: 14px;
    line-height: 41px; 
}
.icon-calendar {
    color: #a9a9a9;
}
.icon-calendar::before {
    font-size: 21px;
    line-height: 38px; 
    text-align: center; 
}
.form-input-date:hover, .icon-calendar {
    color: #000; 
}
.form-input-date:focus, .icon-calendar {
    color: #81b3d2;
}
.counter {
    font-size: 0; 
}
.form-input-counter {
    text-align: center;
}
.counter button {
    color: #a9a9a9;
}
.counter button::before {
    font-size: 14px; 
    line-height: 38px; 
    text-align: center; 
}
.form .button-solid {
    padding: 16px; 
    font-size: 21px; 
    line-height: 26px; 
}

/**Главное содержимое hotels**/

.hotels-content {
	color: #fff;
    background: #46525c url(../img/hotels.jpg) no-repeat 0 50%; 
}
.hotels-content h2 {
	margin: 12px 0;
    font-size: 16px; 
    line-height: 21px; 
    text-align: left;
}
.filters-rows {
	font-size: 0;
}

/**Подвал**/

.map {
	position: relative;
	background: no-repeat 50% 100%;
}
.main-footer .main-footer-column {
    padding: 30px 0;
    text-align: center;
    background: rgba(254,254,254,.9);
}
.main-footer-column-visit {
	padding: 17px 0;
}
.main-footer-column-visit a {
	font-size: 21px;
    line-height: 26px;
    font-weight: 700; 
	text-decoration: none; 
    color: #000; 
}
.main-footer-column-socials ul {
	margin: 0;
    padding: 0; 
    list-style: none;
    font-size: 0;
}
.main-footer-column-socials li {
	display: inline-block;
	vertical-align: top;
	margin: 6px 3px;
}
.btn-social {
	display: block;
	width: 46px;
	height: 48px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	background: url(../img/footer-icon.png) no-repeat;
}
.social-twitter:hover {
	background-position: 0 -49px;
}
.social-twitter:active {
	background-position: 0 -98px;
}
.social-facebook {
	background: url(../img/footer-icon.png) -47px 0 no-repeat;
}
.social-facebook:hover {
	background-position: -47px -49px;
}
.social-facebook:active {
	background-position: -47px -98px;
}
.social-youtube {
	background: url(../img/footer-icon.png) -95px 0 no-repeat;
}
.social-youtube:hover {
	background-position: -95px -49px;
}
.social-youtube:active {
	background-position: -95px -98px;
}
.main-footer-column-copyright {
	padding: 6px 0;
}
.main-footer-column-copyright span,
.main-footer-column-copyright .logo-htmlacademy {
	display: inline-block;
	vertical-align: middle;
}
.main-footer-column-copyright span {
	margin-left: 10px;
	font-size: 14px;
}
.logo-htmlacademy {
	width: 113px;
	height: 39px;
	text-decoration: none;
	margin: 4px 8px;
	background: transparent url('../img/logo-htmlacademy.png') no-repeat;
	background-position: 50% -198px;
}
.logo-htmlacademy:hover {
	background-position: 50% -99px;
}
.logo-htmlacademy:active {
	background-position: 50% 0;
}

/**Promo**/

.promo {
	position: relative;
	height: 510px;
	background: #3d4c57 url(../img/index.jpg) no-repeat 50% 30%;
	background-size: cover;
}

/**mask**/

.promo::after {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    height: 57px;
    background: transparent url('../img/mask.png') no-repeat 0 50%;
    background-size: 100% 57px;
}
.slogan-welcome,
.slogan-sedona,
.slogan-site {
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 458px;
    height: 90px;
    margin-left: -229px;
    font-size: 0;
    line-height: 0;
    color: transparent;
    background: transparent url('../img/promo-poster-text.png') no-repeat;
}
.slogan-welcome {
    top: 75px;
    background-position: 0 0;
}
.slogan-sedona {
    top: 207px;
    background-position: 0 -132px;
}
.slogan-site {
    top: 337px;
    background-position: 0 -262px;
}
/**intro**/

.intro {
	padding: 31px 0;
	line-height: 26px;
	text-align: center;
}
.intro-title {
    width: 450px;
    margin: 28px auto;
    font-size: 21px;
    color: #000;
}
.intro .features-text {
    margin: 20px 0;
}

/**features**/

.features-item,
.features-services {
	min-height: 256px;
    background: #eee;
}
.features-services .feature-description {
    padding: 0 4%;
    padding-top: 35px;
}
.features-item .feature-description {
    padding: 0 4%;
    padding-top: 35px;
}
.feature-description {
    text-align: center;
}
.features-title {
	margin: 10px auto;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}
.feature-description p {
	margin: 22px auto;
}
.features-item {
	color: #fff;
	background: #81b3d2;
}
.left .feature-description {
    padding: 0 6%;
    padding-top: 35px;
}
.right .feature-description {
    padding: 0 7%;
    padding-top: 35px;
}
.features-item .features-title {
    margin-top: 17px;
}
.poster {
	position: relative;
	height: 256px;
	overflow: hidden;
	background: rgba(0,0,0,.1);
}
.poster img {
	position: absolute;
	top: 50%;
	max-width: 100%;
	height: auto;
	transform: translateY(-50%);
}

/**features-services**/

.services-list {
	min-height: 330px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.services-item {
	padding: 0 6%;
    padding-top: 35px;
    text-align: center;
}
.services-item-center {
    padding: 0 4%;
    padding-top: 35px;
}
.services-item-title {
	position: relative;
	margin: 20px auto;
	padding-top: 103px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}
.services-item-title::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	width: 76px;
	height: 76px;
	margin-left: -38px;
	background: transparent url('../img/icons.png') no-repeat;
}
.services-item-title-food::before {
	background-position: 0 0;
}
.services-item-title-gift::before {
	background-position: 0 -152px;
}
.services-item-title-house::before {
	background-position: 0 -304px;
}
.services-item p {
	margin: 22px auto;
}

/**order**/

.order {
	position: relative;
	z-index: 1;
	width: 568px;
	margin: 0 auto;
	text-align: center;
}
.order h2 {
	margin-top: 53px;
	margin-bottom: 29px;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
}
.order p {
	margin: 24px 50px;
	line-height: 24px;
}
.order .public-button {
    position: relative;
    z-index: 2;
    display: block;
    margin-top: 45px;
    padding: 30px;
    font-size: 21px;
    line-height: 26px;
}
.popup {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.15);
}
.form {
    margin: 55px;
}
.form-rows {
	position: relative;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	border: none;
	font-size: 0;
	font-weight: bold;
	text-align: left;
}
.form .form-label {
	display: inline-block;
	vertical-align: top;
	width: 115px;
	font-size: 14px;
	line-height: 41px;
}
.form .form-input {
	display: inline-block;
	vertical-align: top;
}
.form-input-date {
	width: 343px;
	padding-right: 38px;
}
.icon-calendar {
	position: absolute;
	right: 0;
	top: 0;
	color: #a9a9a9;
}
.icon-calendar::before {
	width: 38px;
	margin: 0;
	font-size: 21px;
	line-height: 38px;
	text-align: center;
}
.form-input-date:hover + .icon-calendar {
    color: #000;
}
.form-input-date:focus + .icon-calendar {
    color: #81b3d2;
}
.counter {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 0px;
}
.form-input-counter {
	width: 38px;
	padding: 8px 0;
	text-align: center;
}
.counter button {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	border: none;
	outline: none;
	color: #a9a9a9;
	background: #f2f2f2;
}
.counter button::before {
	display: block;
	width: 38px;
	margin: 0;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
}
.counter .form-label {
	width: 65px;
	margin-left: 50px;
}
.form .button-solid {
	width: 100%;
	margin-top: 24px;
	padding: 16px;
	font-size: 21px;
	line-height: 26px;
}

/**hotels**/

.filters-rows {
	padding-top: 14px;
	padding-bottom: 8px;
	color: #fff;
	background: #46525c url('../img/hotels.jpg') no-repeat 0 50%;
	background-size: cover;
}
.filters-rows h2 {
    margin: 12px 0;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
}
.options {
	padding-left: 6%;
    font-size: 0;
}
.filter-options {
	display: inline-block;
	vertical-align: top;
	max-width: 150px;
	margin: 0;
	margin-right: 30px;
	padding: 0;
	border: none;
	font-size: 14px;
	list-style: none;
}
.filter-options li {
	margin: 25px 0;
}
.filter-options:first-child {
	margin-right: 119px;
}
.filter-cost {
    padding-right: 6.5%;
    text-align: center;
}
.cost-group {
	position: relative;
	border: 2px solid #fff;
	border-radius: 3px;
	font-size: 0;
}
.cost-group::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 5px;
	width: 2px;
	height: 21px;
	margin-left: -1px;
	background: #fff;
}
.cost-group label {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	padding: 5px 5%;
	font-size: 14px;
	text-align: right;
}
.cost-input {
	max-width: 50%;
	padding: 0;
	border: none;
	color: #fff;
	background: transparent;
}
.cost-input-min {
	max-width: 43%;
}
.range {
	position: relative;
	height: 2px;
	margin: 20px 0;
	background: rgba(255,255,255,.3);
}
.scale {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0%;
	right: 14%;
	background: #fff;
}
.scale-slider {
	position: absolute;
	top: -8px;
	padding: 2px;
	border: 8px solid #fff;
	border-radius: 50%;
	outline: none;
	background: #ababab;
	box-shadow: 0 2px 0 0 rgba(0,0,0,.14);
	cursor: pointer;
}
.scale-slider:hover {
	background: #1c4f80;
}
.scale-slider-min {
	left: 0;
}
.scale-slider-max {
	right: 0;
}

/**catalog**/

.filter {
	padding-left: 6%;
	padding-right: 6.5%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
}
.answer-title {
	float: left;
	width: 135px;
}
.sorting-list {
	float: right;
	width: 110px;
	text-align: right;
	list-style: none;
}
.sort-type {
	margin-left: 167px;
	margin-right: 110px;
}

/****/

.answer-title {
	margin: 0;	
	font-size: 21px;
	line-height: 26px;
}
.sort-type {
	font-size: 0;
}
.sort-label {
	display: inline-block;
	vertical-align: top;
	width: 114px;
	font-size: 12px;
	line-height: 26px;
}
.sort-type ul {
	display: inline-block;
	vertical-align: top;
	max-width: 70%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sort-type li {
	display: inline-block;
	vertical-align: top;
	margin-right: 32px;
	font-size: 12px;
	line-height: 26px;
}
.sort-type a::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 1px dotted #000;
}
.sort-type a:hover {
	color: #81b3d2;
	opacity: 1;
}
.sort-type a:hover::after {
	border-color: #81b3d2;
}
.sort-type a:active {
	color: #000;
}
.sort-type a.active {
	color: #81b3d2;
}
.sort-type a:active,
.sort-type a.active {
	opacity: 1;
}
.sort-type a:active::after,
.sort-type a.active::after {
	border: none;
}
.sort-order {
	font-size: 0;
}
.sort-order .icon {
	display: inline-block;
	vertical-align: top;
	font-size: 23px;
	line-height: 23px;
	text-decoration: none;
	color: #000;
	opacity: .3;
	cursor: pointer;
}
.sort-order .icon:before {
	margin: 0;
	padding: 0;
	text-align: right;
}
.sort-order .icon:hover {
	opacity: 1;
}
.sort-order .icon:active,
.sort-order .icon-active {
	color: #81b3d2;
	opacity: 1;
}

/****/

.hotels-img {
	outline: none;
	text-decoration: none;
}
.hotels-img {
	display: block;
	width: 135px;
	height: 90px;
}
.hotel-item {
	font-size: 0px;
}
.description-hotels-title {
	margin: 0;
	margin-top: -6px;
	margin-bottom: 6px;
	font-size: 21px;
	line-height: 26px;
}
	